* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

body {
    width: 100%;
    background-color: #23252C;
    color: white;
}

body, button {
      font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header, main, footer {
    width: 90%;
    margin: 0 auto;
    min-width: 325px;
    max-width: 500px;
    background-color: #1A1B21;
}

header {
    margin-top: 2.5em;
}

.header--img {
 width: 100%;
 height: auto;
 border-top-left-radius: 10px; 
 border-top-right-radius: 10px;
}

.developer---name {
    font-size: 2rem;
    text-align: center;
    padding-top: 0.7em;
}

.title {
    font-size: 1rem;
    color: #E4B491;
    font-weight: 500;
    padding-top: 0.5em;
    text-align: center;
    margin-bottom: 1.25em;
}

.icon--email {
    width: 20px;
    margin-right: 1em;
}

button {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    padding: 0.6em;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    border: 5px solid #D6AA89;
}

button:active {
    opacity: 0.8;
}

main {
    padding-top: 3em;
    padding-bottom: 3.5em;
}

section {
    width: 80%;
    margin: auto;
}

section h2 {
    text-align: left;
    font-size: 1.25rem;
}

section p {
  font-size: 1rem;
  padding-top: 0.5em;
  line-height: 1.6;
  padding-bottom: 1.5em;
  text-align: left;
}

footer {
    width: 90%;
    background-color: #161619;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding: 1.5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1.5em;
}

footer img {
    width: 30px;
}

.icon--unavailable {
    opacity: 0.7;
    cursor: not-allowed;
}
